{% extends 'base.html.twig' %}

{% block title %}New FactuurProducten{% endblock %}

{% block body %}
    <h1>Create new FactuurProducten</h1>

    {{ include('factuur_producten/_form.html.twig') }}

    <a href="{{ path('factuur_producten_index') }}">back to list</a>
{% endblock %}
