<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" href="/">Webshop</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/klant">Klant Toevoegen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product">Product Toevoegen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/factuur">Factuur Aanmaken</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/factuurproducten">Factuur Producten</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/winkelmandje">Winkelmandje</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

        <div class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
